// Start Footer
div(class="footer pt-5")
  div(class="container mb-3")
    .row
      div(class="col-sm-6 col-lg-3 mb-4 mb-lg-0")
        h4(class="text-primary") Ag Coding
        p(class="text-muted") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsum assumenda rem repellat similique corrupti
        p(class="m-0") #[b Email:] #[a(class="fst-italic text-muted text-decoration-none", href="mailto:info@example.com") info@example.com]
        p(class="m-0") #[b Phone:] #[span(class="fst-italic text-muted user-select-all") +111 22 333 4444]

      div(class="col-sm-6 col-lg-3")
        p(class="fw-bold") Our Social Networks
        p(class="text-muted") Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies
        div(class="social-links mt-4")
          a(class="bg-primary text-light p-2 me-2 rounded", href="#") #[i(class="fa-brands fa-twitter")]
          a(class="bg-primary text-light p-2 me-2 rounded", href="#") #[i(class="fa-brands fa-facebook")]
          a(class="bg-primary text-light p-2 me-2 rounded", href="#") #[i(class="fa-brands fa-instagram")]
          a(class="bg-primary text-light p-2 me-2 rounded", href="#") #[i(class="fa-brands fa-skype")]
          a(class="bg-primary text-light p-2 rounded", href="#") #[i(class="fa-brands fa-linkedin-in")]

      div(class="col-sm-6 col-lg-3 mt-5 mt-sm-0 mb-4 mb-lg-0 d-flex justify-content-center")
        div
          h6(class="fw-bold") Useful Links
          ul(class="list-unstyled footer-ul user-select-none")
            li: a(class="text-muted", href="#home") Home
            li: a(class="text-muted", href="#about") About
            li: a(class="text-muted", href="#services") Services
            li: a(class="text-muted", href="#portfolio") Portfolio
            li: a(class="text-muted", href="#contact") Contact

      div(class="col-sm-6 col-lg-3 d-flex justify-content-center")
        div
          h6(class="fw-bold") Other Links
          ul(class="list-unstyled footer-ul user-select-none")
            li: a(class="text-muted", href="#") Link 1
            li: a(class="text-muted", href="#") Link 2
            li: a(class="text-muted", href="#") Link 3
            li: a(class="text-muted", href="#") Link 4
            li: a(class="text-muted", href="#") Link 5
      
  div(class="text-center bg-dark text-white-50 p-3")
    p(class="m-0") Copyright &copy; #[span(class="year")]. All rights reserved
        
// End Footer